<div class='playlist-bar'>
  <button class="prev btn glyphicon glyphicon-step-backward"></button>
  <button class="loop btn glyphicon glyphicon-repeat"></button>
  <button class="pause btn glyphicon glyphicon-pause"> </button>
  <button class="next btn glyphicon glyphicon-step-forward"></button>
</div>
<div class="video-list">
  <div><h5><em>videoListEntry</em> view goes here</h5></div>
  <div><h5><em>videoListEntry</em> view goes here</h5></div>
  <div><h5><em>videoListEntry</em> view goes here</h5></div>
  <div><h5><em>videoListEntry</em> view goes here</h5></div>
  <div><h5><em>videoListEntry</em> view goes here</h5></div>
</div>
